<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @end_users.empty? %>
        <p>ユーザーはいません</p>
        <% else %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @end_users.each do |end_user| %>
            <tr>
              <td><%= attachment_image_tag end_user, :image, :fill, 60, 60, class: "pull-left profile-thumb" %></td>
              <td><%= end_user.name %></td>
              <td>フォロー数：<%= end_user.followings.count %></td>
              <td>フォロワー数：<%= end_user.followers.count %></td>
              <td><%= link_to end_user_path(end_user) do %>Show<% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>