<%= content_tag "tr", id: "page-#{page.id}", class: "item", data: { model_name: @note.class.name.underscore, update_url: page_sort_path(page)} do %>
<td>
</td>
<td>
  <%= link_to page_path(page) do %>
  <%= page.name %>
  <% end %>
</td>
<td><%= page.text %></td>
<td><%= page.page_comments.count %></td>

<td>
<% if page.favorited_by?(current_end_user) %>
<li>
  <%= link_to page_page_favorites_path(page), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= page.page_favorites.count %> いいね
  <% end %>
</li>
<% else %>
<li>
  <%= link_to page_page_favorites_path(page), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= page.page_favorites.count %> いいね
  <% end %>
</li>
<% end %>
</td>

<% end %>