<tr>
  <td></td>
  <td>
    <%= link_to page_path(page) do %>
    <%= page.name %>
    <% end %>
  </td>

<% if false %>
  <td>
    <% page.page_tags.each do |page_tag| %>
    <%= link_to note_path(page.note_id, page_tag_id: page_tag.id) do %>
    <%= page_tag.name %>
    <% end %>
    <% end %>
  </td>
<% end %>


  <td><%= page.page_comments.count %></td>

  <td class="favorite_<%= page.id %>">
    <%= render 'public/page_favorites/favorite', page: page %>
  </td>

</tr>