<div class="row">
  <div class="col s3">
    <%= form_with model: @note, local: true do |f| %>
    <%= f.label :name, "ノート名称" %>
    <%= f.text_field :name %>
    <%= f.label :text, "ノート概要" %>
    <%= f.text_area :text %>
    <%= f.submit "ノート作成" %>
    <% end %>
  </div>
</div>