<div class="container">
<div class="row">
  <div class="col-12">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= form_with model: @note, local: true do |f| %>
    <%= f.label :name, "ノート名称" %>
    <%= f.text_field :name %>
    <%= f.label :text, "ノート概要" %>
    <%= f.text_area :text %>
    <%= f.label :image, "イメージ画像" %>
    <%= f.attachment_field :image %>
    <%= f.submit "ノート作成" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
<table class="table">
  <thead>
    <tr>
      <th>イメージ</th>
      <th>タイトル</th>
      <th>概要</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
    <%= render 'public/notes/note', note: note %>
    <% end %>
  </tbody>
</table>
  </div>
</div>
</div>