<div class="container mb-5">
  <div class="row">
    <div class="col-4">
      <h1 class="h3 my-4">ノート一覧</h1>
      <ul class="nav flex-column">
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <a href="#" class="nav-link"> menu1 </a>
            <button class="btn btn-link btn-sm" data-target="#collapse-menu3" data-toggle="collapse">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </div>
          <ul id="collapse-menu3" class="collapse list-unstyled pl-3">
            <li><a href="#" class="nav-link">menu1-1</a></li>
            <li><a href="#" class="nav-link">menu1-2</a></li>
            <li><a href="#" class="nav-link">menu1-3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <a href="#" class="nav-link"> menu2 </a>
            <button class="btn btn-link btn-sm" data-target="#collapse-menu4" data-toggle="collapse">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </div>
          <ul id="collapse-menu4" class="collapse list-unstyled pl-3">
            <li><a href="#" class="nav-link">menu2-1</a></li>
            <li><a href="#" class="nav-link">menu2-2</a></li>
            <li><a href="#" class="nav-link">menu2-3</a></li>
          </ul>
        </li>
      </ul>

      <h1 class="h3 my-4">ノート新規作成</h1>
      <%= form_with model: @note, local: true do |f| %>
      <%= f.label :name, "ノート名称" %>
      <%= f.text_field :name %>
      <%= f.label :text, "ノート概要" %>
      <%= f.text_area :text %>
      <%= f.label :image, "イメージ画像" %>
      <%= f.attachment_field :image %>
      <%= f.submit "ノート作成" %>
      <% end %>
    </div>

    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>イメージ</th>
            <th>タイトル</th>
            <th>概要</th>
          </tr>
        </thead>
        <tbody>
          <% @notes.each do |note| %>
          <%= render 'public/notes/note', note: note %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>