<!DOCTYPE html>
<html>

<head>
  <title>Slaynotes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Font Awesome %>
  <script src="https://kit.fontawesome.com/49f5a30455.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%# 管理者用ヘッダー %>
  <% if admin_admin_signed_in? %>
  <nav>
    <ul class="nav main-nav">
      <li><a href="#" class="logo">Logo</a></li>
      <li><a href="#">Admin Menu 1</a></li>
      <li><a href="#">Admin Menu 2</a></li>
      <li><a href="#">Admin Menu 3</a></li>
      <li>
        <%= link_to destroy_admin_admin_session_path, method: :delete do %>
        <button type="button" class="btn page-link text-dark d-inline-block">ログアウト<span class="sr-only"></span></button>
        <% end %>
      </li>
    </ul>
  </nav>
  <%# 一般会員用ヘッダー %>
  <% elsif end_user_signed_in? %>
  <nav>
    <ul class="nav main-nav">
      <li><a href="#" class="logo">Logo</a></li>
      <li><a href="#">Menu 1</a></li>
      <li>
        <%= link_to end_user_path(current_end_user) do %>
        <button type="button" class="btn page-link text-dark d-inline-block">マイページ<span class="sr-only"></span></button>
        <% end %>
      </li>
      <li>
        <%= link_to notes_path do %>
        <button type="button" class="btn page-link text-dark d-inline-block">新しいノートをつくる<span class="sr-only"></span></button>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_end_user_session_path, method: :delete do %>
        <button type="button" class="btn page-link text-dark d-inline-block">ログアウト<span class="sr-only"></span></button>
        <% end %>
      </li>
    </ul>
  </nav>
  <% else %>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <% end %>

  <%= yield %>

</body>

</html>